@font-face {
    ascent-override: 93.75%;
    descent-override: 6.25%;
    font-display: auto;
    font-family: 'muliBusinessMetrics';
    font-style: normal;
    font-weight: 400;
    line-gap-override: 0%;
    src: url(./variable.woff2) format('woff2');
}
