@font-face {
    font-family: 'DanaPro';
    src: url('danaFaNumThin.woff2') format('woff2'),
        url('danaFaNumThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'DanaPro';
    src: url('danaFaNumRegular.woff2') format('woff2'),
        url('danaFaNumRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'DanaPro';
    src: url('danaFaNumBold.woff2') format('woff2'),
        url('danaFaNumBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'DanaPro';
    src: url('danaFaNumExtraBold.woff2') format('woff2'),
        url('danaFaNumExtraBold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: block;
}
