@font-face {
    font-display: swap;
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    src: url('./regular.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    src: url('./bold.ttf') format('truetype');
}
