@font-face {
    font-display: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('./latinV12Regular.woff2') format('woff2');
}

@font-face {
    font-display: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('./latinV12Medium.woff2') format('woff2');
}

@font-face {
    font-display: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('./latinV12Semibold.woff2') format('woff2');
}

@font-face {
    font-display: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('./latinV12Bold.woff2') format('woff2');
}
