@font-face {
    font-display: swap;
    font-family: Lora;
    font-style: normal;
    font-weight: 400;
    src: url('./regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: Lora;
    font-style: normal;
    font-weight: 700;
    src: url('./bold.woff2') format('woff2');
}
