@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 100;
    src: url('hairline.woff2') format('woff2'),
        url('hairline.woff') format('woff');
    font-display: block;
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 200;
    src: url('thin.woff2') format('woff2'),
        url('thin.woff') format('woff');
    font-display: block;
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 300;
    src: url('light.woff2') format('woff2'),
        url('light.woff') format('woff');
    font-display: block;
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 500;
    src: url('medium.woff2') format('woff2'),
        url('medium.woff') format('woff');
    font-display: block;
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 600;
    src: url('medium.woff2') format('woff2'),
        url('medium.woff') format('woff');
    font-display: block;
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 800;
    src: url('heavy.woff2') format('woff2'),
        url('heavy.woff') format('woff');
    font-display: block;
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 900;
    src: url('heavy.woff2') format('woff2'),
        url('heavy.woff') format('woff');
    font-display: block;
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: bold;
    src: url('bold.woff2') format('woff2'),
        url('bold.woff') format('woff');
    font-display: block;
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: normal;
    src: url('regular.woff2') format('woff2'),
        url('regular.woff') format('woff');
    font-display: block;
}

.localized-number {
    -moz-font-feature-settings: 'ss02';
    -webkit-font-feature-settings: 'ss02';
    font-feature-settings: 'ss02';
}

.localized-monospace-number {
    -moz-font-feature-settings: 'ss03';
    -webkit-font-feature-settings: 'ss03';
    font-feature-settings: 'ss03';
}
