@font-face {
    font-display: swap;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    src: url('./light.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    src: url('./regular.ttf') format('truetype');
}
